body{
    background-color: #000000;
    background-image: url(https://3.bp.blogspot.com/-_gW6D7aU9tY/VMgy4pzWFaI/AAAAAAAAWhQ/gLlPL_HTmh0/s1600/39655-2560x1600.Jpg);
    background-position-x: 31%;
    background-position-y: 31%;
}

form {
   color: #ffff;
    width: 300px;
    padding: 30px;
    text-align: left;
}

.elemento-sozinho {
    display: block;
    margin-bottom: 14px;
    width: 97%;
}

button {
    background-color: #00fa0c;
    border: 1px solid #00fa0c;

    padding-top: 7px;
    padding-bottom: 7px;

    color: #000000;
}

h1{
    color: #fbff00;
    font-size: 2rem;
    font-family: geneva;
    display: block;

}

h2 {
    color:#6cd271
}

button:hover {
    color: #6cd271;
    background-color: #000000;
}

.pointclass {
     background-image: url();
 }
